
h2{
  alt: unset;
}
h2{
    text-align: center;
  }
  img{
    display:block;
    margin:auto;
    }
    
    h1{
      text-align: center;
    }

    img{
      height: 300px;
      }    

      
    h3{
     font-size: 43px;
    }

    h4{
      font-size: 33px;
     }

     h4{
      text-align: center;
    }

    h5{
      font-size: 33px;
     }

     h5{
      text-align: center;
    }

    h6{
      font-size: 33px;
     }

     h6{
      text-align: center;
    }

    h7{
      font-size: 20px;
     }

     h6{
      font-size: 33px;
     }

     h6{
      text-align: center;
    }

    h8{
      font-size: 33px;
     }

     h8{
      text-align: left;
    }

    h9{
      font-size: 33px;
     }

     h9{
      text-align: left;
    }


    h10{
      font-size: 25px;
     }

     h10{
      text-align: left;
    }